<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>QuickPay</title>
        <input-field type="bool">
            <name>quickpayDeviceCheck</name>
            <label>Hide payment methods that is not supported in current user-agent</label>
            <label lang="de-DE">Zahlungsmethoden ausblenden, die im aktuellen User-Agent nicht unterstützt werden</label>
            <helpText>Example: only show GooglePay as a paymentmethod in checkout if user is on Android or in Chrome</helpText>
            <helpText lang="de-DE">Beispiel: Zeigen Sie GooglePay nur als Zahlungsmethode an der Kasse an, wenn der Benutzer Android oder Chrome verwendet</helpText>
        </input-field>
        <input-field>
            <name>quickpayApiKey</name>
            <label>QuickPay API key</label>
            <helpText>User API key</helpText>
        </input-field>
        <input-field>
            <name>quickpayPrivateKey</name>
            <label>QuickPay Private key</label>
        </input-field>
        <input-field type="bool">
            <name>quickpayUpdateShipping</name>
            <label>Update shipping to shipped when payment is paid</label>
        </input-field>
        <component name="quickpay-api-test-button">
            <name>quickpayApiTest</name>
            <btnLabel>Test API Connection</btnLabel>
        </component>
    </card>
</config>
